/*==================================
font-family: 'Poppins', sans-serif;
==================================== */


/*=========== TABLE OF CONTENTS ===========
1.  General
2.  Nav
3.  Header
4.  About
5.  Service
6.  Faqs
7.  About us
8.  Footer
10. Dashboard
11. Register
/*-------------------------------------
		1.General
--------------------------------------*/
*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	color: #676a81;
	background: #fff;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}

a,a:hover,a:active,a:focus {
	display:inline-block;
	text-decoration:none;
	color: #6a708e;
	font-size:16px;
	padding:0;
}

h2 { 
	margin: 0;
	color:#d89c2b;
    font-size: 16px;
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
}
h1,h3,h4,h5,h6 { 
	margin: 0;
	color:#43485c;
    font-size: 16px;
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
}
p {
	margin: 0;
	line-height:1.8;
	color:#595b5f;
	font-size:14px;
	font-family: 'Poppins', sans-serif;
}

ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
	
}
select,input,textarea,button{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;}

html,body{
    height: 100%;
	position: relative;
}
[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}

.fix{position: relative;clear: both;}
/*=============Style css=========*/
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*-------------------------------------
        2. Nav
--------------------------------------*/
.top-area {
    position: fixed; 
    width: 100%;
    z-index: 999;
}
@media (min-width: 1024px){}
nav.navbar.bootsnav.no-background {
    background-color: #fff;
    border: none;
}

nav.navbar.bootsnav {
    background-color: #fff;
    border-bottom: transparent;
    height:80px;
    box-shadow: 0 3px 15px rgba(0,0,0,.2);
}

/*.navbar-brand*/
.navbar-header a.navbar-brand,.navbar-header a.navbar-brand:hover,.navbar-header a.navbar-brand:focus {
    display: inline-block;
    color: #d89c2b;
    font-size: 20px;
    font-weight: 600;
    padding: 33px 0px 57px;
}
/*.navbar-brand*/



/*.nav li*/
nav.navbar.bootsnav ul.nav > li > a {
    font-size: 16px;
    font-weight: 400;
}
nav.navbar.bootsnav ul.nav > li > a {padding: 35px 20px;}
nav.navbar.bootsnav ul.nav > li > a:hover,nav.navbar.bootsnav ul.nav > li > a:focus,nav.navbar.bootsnav ul.nav > li.active>a{color: #d89c2b;}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
    content: "";
}
nav.navbar.bootsnav ul.nav > li.dropdown span {
    font-size: 8px;
    margin-left: 15px;
}
.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li > a {color:#9fa2b1;}
.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li > a:hover,.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li > a:focus,.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li.active>a{color: #d89c2b;}
/*.nav li*/



/*.menu-ui-design*/
.menu-ui-design{overflow-y:scroll;height: 350px;}
.menu-ui-design::-webkit-scrollbar {
    width:5px;
}
.menu-ui-design::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #000;
}
.menu-ui-design::-webkit-scrollbar-thumb {
  background-color: #d89c2b;
}
/*.menu-ui-design*/



/*.navbar-toggle */
nav.navbar.bootsnav .navbar-toggle {
    position: relative;
    background-color: transparent;
    border: 1px solid #d89c2b;
    padding: 10px;
    top: 0;
}
nav.navbar.bootsnav .navbar-toggle i{color: #d89c2b;}
/*.navbar-toggle */

.section-heading h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 10px;
    background-color: #ffffff81;
    padding: 30px;
    border-bottom: 1px solid #cfe6f3;
}

/*-------------------------------------
        3.  Header
--------------------------------------*/
.welcome-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    height:150px;
    border-bottom:4px solid #f7b468;
}
.welcome-hero:before{
    position:absolute;
    content: " ";
    top:0;
    left:0;
    background:rgba(170, 205, 238, 0.863);
    width:100%;
    height:100%;
}

/*.header-text-area*/

.header-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-top: 90px;
    letter-spacing: 1px;
}


/*-------------------------------------
        5.  Service
--------------------------------------*/
.serex {
    padding: 50px 0 50px;
    background-color: #e7f0f5bd;
    padding-top:  0px;
    height:550px;
    border-bottom: 2px solid #f7b468;
}

.service-img{
    margin-top: 20px;
    text-align:center;
    height:0px;
}

.service-img img{
    height:500px;
}

/*-------------------------------------
        3.  Header
--------------------------------------*/
.selection-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    height:70px;
}
.selection-hero:before{
    position:absolute;
    content: " ";
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/*.header-text-area*/

.heade-text p {
    color: rgb(32, 48, 136);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}


/*-------------------------------------
        3.  Header
--------------------------------------*/

.form1 {
   height:100px; 
}
.form1 ul{
    height:50px; 
 }

.form1 li{
    margin-top: 10px;
    padding:5px;
    float: left;


    }
  
.button{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    text-transform: capitalize;
    color: #fff;
    background: #3267a3;
    border:1px solid #000f83;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}
.button:hover{ 
    box-shadow: 0 5px 20px rgba(0,0,0,.4);
    background:#ffa836;
    border: 1px solid #c97800;
}

/*-------------------------------------
		8. Footer
--------------------------------------*/


.footer-copyright {
    background-color: #ffebc6;
    height:41px;
}

.footer-copyright p{
    color: #ffa600;
    text-transform: capitalize;
    padding: 8px 0;
}

table, th, td {
  border: 1px solid black;
}


